.landing-body {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  Button {
    padding: 1rem;
    font-size: large;
  }

}



.title {
  font-size: 5rem;
}

.title-desc {
  font-size: 2rem;
  margin-bottom: 3rem;
}